.header {
  width: 100%;
  height: auto;
  background-color: var(--bg-lightgray);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header .container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header__top,
.header__bottom {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bottom {
  background-color: #fff;
  padding-top: 6px;
  padding-bottom: 10px;
}

.header__bottom__left {
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}

@media (max-width: 768px) {
  .header__bottom__left {
    gap: 20px;
  }
}

.header__nav {
  width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header__nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
}
.header__nav ul li a {
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #00072dcc;
  text-decoration: none;
  cursor: pointer;
}
.header__nav ul li a:hover {
  color: #002d79;
  text-decoration: none;
  cursor: pointer;
}
.header__logo {
  width: 138px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .header__logo {
    width: 115px;
    height: 70px;
  }
}

.header__search {
  width: 686px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header__search input {
  width: 100%;
  height: 100%;
  background-color: #f3f5f7;
  border: 1px solid #e5e9ec;
  border-radius: 46px;
  padding-left: 20px;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
}
.header__search input::placeholder {
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #00072d66;
}
.header__search input:focus {
  border: 1px solid #e5e9ec;
}

@media (max-width: 768px) {
  .header__search {
    width: 80%;
  }
}

.header__search button {
  width: 24px;
  height: 24px;
  appearance: none;
  background: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  right: 20px;
}
.header__bottom__contacts {
  min-width: 368px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__bottom__contacts p{
  font-family: var(--font-family-regular);
  font-size: 14px;
}

.header__bottom__contacts div {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.header__accountpage {
  width: fit-content;
  height: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #E8ECF0;
  color: #213F74;
  font-family: var(--font-family-medium);
  font-size: 15px;
  transition: all 0.2s ease-in;
  appearance: none;
  border: none;
  padding: 8px 10px;
}

.header__accountpage:hover {
  background-color: #E0E7EE;
}

@media (max-width: 768px) {
  .header__bottom__buttons {
    width: 25%;
    max-width: 170px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}

.header__btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.header__btn--gray {
  background-color: #f3f5f7;
}
.header__btn--blue {
  background-color: #213F74;
}