* {
    --bg-lightgray: #f3f5f7;
    --font-family-regular: "Inter-Regular", Arial, Helvetica, sans-serif;
    --font-family-medium: "Inter-Medium", Arial, Helvetica, sans-serif;
    --font-family-semibold: "Inter-SemiBold", Arial, Helvetica, sans-serif;
    --bg-darkblue: #213f74;
}